<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Product</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="seller.css">
    <script src="seller.js" defer></script>
</head>

<body>
    <div class="container">
        <h1 class="create-product">Create Product</h1>
        <div class="form-add">
            <form>
                <div class="input-type">
                    <div class="name">
                        <label for="text">Name</label><br>
                        <input type="text" id="product-name" placeholder="Product Name..." required>
                    </div>
                    <div class="price">
                        <label for="text">price</label><br>
                        <input type="text" id="product-price" placeholder="Product Price..." required>
                    <div class="currency">
                        <label for="currecy">Currecy</label><br>
                        <input id="currency" type="text" placeholder="currency...">
                    </div>
                    <div class="description">
                        <label for="text">Description</label><br>
                        <input type="text" id="description" placeholder="description....">
                    </div>
                    <div class="image">
                        <label for="image">Image</label><br>
                        <input id="image" type="url" placeholder="image url...">
                    </div>
                </div>
                <div class="button">
                    <button>Add ++</button>
                </div>
                <a href="../../index.html">VIEW CUSTOMER</a>
            </form>
        </div>
    </div>
    <div class="table-data"></div>
    <div class="form-delet"></div>
    <h1 id="result"></h1>

  

</body>

</html>