


/* _______________TABLE____________________ */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* line-height: 1.5; */
    text-decoration: none;
    list-style: none;
}
.create-product{
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    background-color: lightcoral;

}
form {
    flex: 1;
    margin-top:50px ;
    margin-left: 20px;
} 
input{
    flex: 1;
    padding: 10px;
}
.form-add {
    flex: 1;
    padding: 10px;
}
.table-data {
    flex: 1;
    padding: 10px;
}
table {
    flex: 2;
    width: 65%;
    margin-left: 430px;
    border-collapse: collapse;
    margin-top: -370px;
}
tr,td, th {
    border: 2px solid rgb(13, 4, 4);
    padding: 10px;
}
th {
    background-color: lightcoral;
    color: rgb(211, 16, 16);
}
tr:hover{
    background-color: orange;
    color: white;
}
.button button  {
    margin: 15px;
    padding: 5px;
    margin-left: -0px;
    background-color: orange;
}
form a {
    padding: 5px;
    border: 2px solid ;
    background-color: lightblue;
}


            /* ---------------------- Edit-and-delete-----------------------  */
.delete, .edit {
    width: 40%;
}

