body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.card-body{
    border: 1px solid rgb(233, 140, 140);
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
    background-image: linear-gradient(rgb(158, 209, 227), rgb(62, 197, 234));
    
}
.profile>img{
    width: 10%;
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 10px;
}
form{
    width: 22%;
}
input[type= text]{
    padding: 5px;
    outline: none;
    width: 180px;
    margin-right: 80px;
}
ul{
    width: 60%;
    display: flex;
    gap: 30px;
    text-transform: uppercase;
}

a{
    color: rgb(12, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
}

.container {
    display: flex;
    margin-left:65px;
    flex-wrap: wrap;
    gap: 15px;
}



.mt-5 {
    margin-top: 60px;
}
.title {
    font-weight: 500;
    text-transform: uppercase;
}

.price {
    background: #b4c352;
    color: rgb(32, 5, 5);
    width: 50px;
    height: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 250px;
}


/* -------------------MENU BAR------------------- */
h1{
    width: 250%;
    margin-left: -70px;
    color: rgb(244, 229, 229);
    background-image: linear-gradient(rgb(92, 46, 46), rgb(31, 187, 230));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding: 7px;
    margin-top: -60px;
}
.menu-bar{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgb(243, 25, 25), rgb(89, 203, 235));
}
.logo img{
    border-radius: 290px;
    width: 40%;
    background: white;
    margin-top: -26px;
    margin-left: -30px;
}
.button-search input{
    display: flex;
    justify-self: right;
    width:200%;
    height: 20%;
    padding: 10px;
    margin-top: 40px;
    margin-left: -150%;
}

.button-search
.material-icons {
    display: flex;
    margin-top: -15%;
    margin-left: 50px;
}

.right-menu  {
    display: flex;
    flex-direction: row;
    height: 30%;
    margin-left: 400px; 
}
.right-menu button i {
    padding: 10px;
    margin: 20px;
    width: 30%;

    
}
.seller-or-customer {
    margin-top: 30px;
}
.seller-or-customer button {
   padding: 10px;
   border-radius: 10px;
   text-decoration: none;
}
.seller-or-customer a {
    text-decoration: none;
    color: black;
}
.seller-or-customer :hover{
    background-color: orange;
    color: white;
    border: none;
}

/* for dailog*/
.detail_dialog_container{
    display: flex;
    flex-direction: row;
}
.image_container img {
    width: 30%;
    margin-top: -210px;
    margin-left: 60px;
    border: 3px solid rgb(79, 208, 237);
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
    border-radius: 10px;
}
h3  {
   margin-left: 60px;
  
}
#price,
#name {
    background: #b9d3e1;
    width: 25%;
    
}

#name{
   margin-top:120px ;
  
}
p{
    margin-left: 490px;
    margin-top: 150px;
    width: 50%;
}

                /* Footer */

footer .gmail{
    margin: 0px;
    background-image: linear-gradient(rgb(92, 46, 46), rgb(31, 187, 230));
    width: 350%;
    margin-left: 10px;
    padding:15px;
}

.gmail a {
    text-align: center;
    display: flex;
    margin-left: 520px;
    color:white;
}