<!DOCTYPE html>
<html lang="en">

<head>
    <title>ADD PRODUCT</title>
</head>
<link rel="stylesheet" href="../css/add-product.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="../js/add.js" defer></script>
<body>
    <div class="container">
        <div class="menu">
            <div class="logo">
                <img src="/image/ecommerce_logo.png" alt="">
            </div>
            <div class="search">
                <input type="search" placeholder="search...">
                <i class="material-icons">search</i>
            </div>
            <div class="right-menu">
                <button> <a href="/index.html"><i class="material-icons">account_balance</i> </a> </button>
                <button><i class="material-icons">local_grocery_store</i> </button>
            </div>
        </div>
    </div>
    <form action="">
        <h2>Create Product</h2>
        <div class="input">
            <div class="name">
                <label for="name">Name:</label>
                <input id="get-name" type="text" placeholder="name product.."><br>
            </div>
            <div class="price">
                <label for="price">Price:</label>
                <input id="get-price"  type="number" placeholder="price product.."> <br>
            </div>
            <div class="description">
                <label for="description">Description:</label>
                <input id="get-description" type="text"><br>
            </div>
            <div class="choose-img">
                <label for="img">Image:</label>
                <input id="get-image" type="file" placeholder="choose image" ><br>
            </div>
            <div class="currency">
                <label for="currency">Currency:</label>
                <select id="select" >
                    <option value="1">Dollar:$</option>
                    <option value="2">Khmer:៛</option>
                </select><br>
            </div>           
        </div>
        <div class="button"> 
            <button id="btn-save">SAVE</button>
            <!-- <button> <a href="edit.html">SAVE</a> </button> -->
        </div>
    </form>
    <div class="text"></div>
    <footer>
        <p>THUN SREYPICH-E-Commerce</p>
        <p><a href="">sreypich.thun@student.passerellesnumeriques.org</a></p>
    </footer>
</body>

</html>
